    <div class="booknow-page-section padding-top-60 padding-bottom-100" id="Book-Online">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <h2 class="box-header">Book <span>Online</span></h2>
                </div>
              </div>

              <div class="row margin-top-40">

                <div class="col-lg-12 col-md-12">
                  <div class="contact-form">
                    
                    <form id="contactForm" method="POST" action="" class="contact-form">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" class="form-control" placeholder="Name" required="">
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="email" class="email form-control" placeholder="Email" required="">
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <input type="text" class="form-control" placeholder="Phone / Mobile *" required="">
                            </div>

                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <!-- <input type="text" class="form-control" placeholder="Area *" required=""> -->
                                <select class="form-control">
                                  <option>Jumeirah Lake Towers (JLT)</option>
                                  <option>Jebel Ali Village</option>
                                  <option>Dubai Investment Park</option>
                                  <option>Discovery Gardens</option>
                                  <option>The Gardens</option>
                                  <option>Jumeirah Village Circle(JVC)</option>
                                  <option>Dubai Marina</option>
                                  <option>Jumeirah Beach Residance,</option>
                                  <option>Jumeirah Village Triangle (JVT)</option>
                                  <option>Jumeirah Park</option>
                                  <option>Jumeirah Island</option>
                                  <option>Barsha Heights</option>
                                  <option>Dubai Sport City</option>
                                </select>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" class="form-control" placeholder="Building Name *" required="">
                            </div>

                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" class="form-control" placeholder="Apartment Number *" required="">
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" class="form-control" placeholder="Pickup Date *" required="">
                            </div>

                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" class="form-control" placeholder="Pickup Time">
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" class="form-control" placeholder="Landmark">
                            </div>


                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <textarea rows="7" placeholder="Special Notice" class="form-control"></textarea>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                                <button type="submit" id="submit" class="contact-btn">Submit</button>
                                <div class="clearfix"></div>
                            </div>   
                        </form>

                        
                  </div>
                </div>
              </div>

            </div>
        </div>

