<div class="offer-discount section-padding background" data-overlay-dark="2" data-background="assets/images/banner/banner.jpg" data-stellar-background-ratio="0.5" style="background-image: url('assets/images/banner/banner.jpg');background-position: -233px -60px;background-size: 1380px;">
                <div class="half-sold"></div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12 col-md-6 z-index-9">
                            <h1 class="discount-value">30%</h1>
                            <h3 class="discount-dis">discount on your <br>First Order!</h3>
                        </div>
                        <div class="col-sm-12 col-md-6 z-index-9">

                            <h2 class="discount-call">
                                Call us now on<br>
                                <span>800 WASH(9274)</span>
                            </h2>

                            <div class="text-center page-margin-top margin-top-30">
                                <a class="more second-btn margin-right-15" href="tel:8009274">Call Us</a>
                                <a class="more second-btn ScrollEffect" href="index.html#Book-Online" >Book Online</a>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
