  <section class="testimonial">
          <div class="container" >
          <div class="row">
            <div class="col-md-12">
              <p class="text-center text-uppercase">Testimonials</p>
              <h2 class="box-header">WHAT OUR <span>CLIENTS SAY</span></h2>
            </div>
          </div>

                  <!-- <div class="row">
                      <div class="col-sm-12 news_control_mar carousel-control-hide">
                          <a data-slide="prev" href="#testimonials" class="carousel-res-button pull-left">
                              <span class="fa fa-angle-left" aria-hidden="true"></span>
                          </a>
                          <a data-slide="next" href="#testimonials" class="carousel-res-button pull-right">
                              <span class="fa fa-angle-right" aria-hidden="true"></span>
                          </a>
                      </div>
                  </div> -->
          <div class='row margin-top-20'>
            <!-- <div class='col-md-1 res-hide'>
              <div class="controls">
                <a data-slide="prev" href="#testimonials" class="btn testimonial-btn prev-testimonial"><i class="fa fa-angle-left"></i></a>
              </div>
            </div> -->
            <div class='col-md-12 col-sm-12'>
              <div id="Testimonials" class="owl-carousel owl-theme">
                <!-- <ol class="carousel-indicators">
                  <li data-target="#testimonials" data-slide-to="0" class="active"></li>
                  <li data-target="#testimonials" data-slide-to="1"></li>
                  <li data-target="#testimonials" data-slide-to="2"></li>
                </ol> -->
                  <div class="item active">
                    <div class="col-sm-12">
                      <div class="testimonial-data">
                        <h3 class="testimonial-title">Muhammed Anver</h3>
                        <h5 class="testimonial-designation">Regional Manager</h5>
                        <p class="paragraph">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</p>
                      </div>
                    </div>
                  </div>

                  <div class="item">
                    <div class="col-sm-12">
                      <div class="testimonial-data">
                        <h3 class="testimonial-title">Abdul Navas</h3>
                        <h5 class="testimonial-designation">Manager</h5>
                        <p class="paragraph">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</p>
                      </div>
                    </div>
                  </div>

                  <div class="item">
                    <div class="col-sm-12">
                      <div class="testimonial-data">
                        <h3 class="testimonial-title">Imran Usaf</h3>
                        <h5 class="testimonial-designation">Sales Manager</h5>
                        <p class="paragraph">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</p>
                      </div>
                    </div>
                  </div>

                  <div class="item">
                    <div class="col-sm-12">
                      <div class="testimonial-data">
                        <h3 class="testimonial-title">Ashraf Al Ansaf</h3>
                        <h5 class="testimonial-designation">Operation Manager</h5>
                        <p class="paragraph">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</p>
                      </div>
                    </div>
                  </div>
                  
              </div>
            </div>
            <!-- <div class='col-md-1 res-hide'>
              <div class="controls">
                <a data-slide="next" href="#testimonials" class="btn testimonial-btn next-testimonial"><i class="fa fa-angle-right"></i></a>
              </div>
            </div> -->
          </div>
        </div>
      </section>



