   <div  class="what-we-do-section ce-feature-box-22 section-padding background"  data-background="assets/images/what-we-do_bg.jpg" style="background-image: url(<%= image_path "what-we-do_bg.jpg" %>);background-position: right;background-size: 754px;">
          <!-- <div class="half-sold"></div> -->
          <div class="container">
            <div class="row">
              <div class="col-md-7 z-index-9">
                <h5 class="title font-weight-5 margin-top-0">What we do ?</h5>
                <ul class="list-box">
                  <li>Washing </li>
                  <li>Ironing </li>
                  <li>Folding </li>
                  <li>Dry Cleaning </li>
                  <li>Starching </li>
                  <li>Alteration </li>
                  <li>Pick & Delivery</li>
                </ul>
                <p class="content">We pick up and deliver your Laundry & Dry Cleaning to your doorstep. The service is centered around your convenience and the highest quality care for your all your laundry items</p>

                <!-- <h5 class="title font-weight-5">Total Convenience, Affordable Price</h5>
                <p class="content">Schedule your Pick up Online, Delivered to your doorstep. Cashless payments.</p>

                <h5 class="title font-weight-5">Because We Care</h5>
                <p class="content">We keep your clothes alive. Because we care for your valueable clothes ! We use fresh, safe, biodegradable products to provide delicate treatments to your fabric. The fabric & clothes come free of any harmful chemical, unplesant odors and are safe for youm your family and the environment.</p> -->


              </div>

            </div>
          </div>
        </div>
