
                  <%= render partial: 'layouts/default/map' %>

    <footer class="footer-section">
      <div class="footer-top">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 col-md-12">
              <div class="about-widget">
  <%= image_tag("123.png", :class => "margin-bottom-30")%>
                <p>Founded with a vision to be the Signature Laundry Services brand in the region, we strive to present our customers with most Outstanding form of satisfaction when it comes to our services from dry cleaning to steam pressing.<br>We ensure the promptness and punctuality of our pickup and delivery service. While focusing on Quality, Customer Satisfaction and Innovation, we also guarantee the Best Price in town. Our laundry service will save you time and money</p>
                <div class="view-more">
                  <a href="about-us.html">Read More<i class="fa fa-angle-double-right"></i></a>
  			        </div>
              </div>
            </div>
            <div class="col-lg-5 col-md-12">
              <h5 class="footer-title">Service Locations</h5>
              <ul class="sitemap-widget">
                <li><a href="javascript:void(0)"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Laundry in Jumeirah Lake Towers (JLT)</a></li>
  							<li><a href="javascript:void(0)"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Pressing in Jebel Ali Village</a></li>
  							<li><a href="javascript:void(0)"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Dry Cleaning in Dubai Investment Park (DIP)</a></li>
  							<li><a href="javascript:void(0)"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Pressing in Discovery Gardens</a></li>
  							<li><a href="javascript:void(0)"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Laundry Service in The Gardens</a></li>
  							<li><a href="javascript:void(0)"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Jumeirah Village Circle (JVC)</a></li>
  							<li><a href="javascript:void(0)"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Dry Cleaning in Dubai Marina</a></li>
  							<li><a href="javascript:void(0)"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Laundry in Jumeirah Beach Residence (JBR)</a></li>
  							<li><a href="javascript:void(0)"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Pressing in Jumeirah Village Triangle (JVT)</a></li>
  							<li><a href="javascript:void(0)"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Laundry in Jumeirah Park</a></li>
  							<li><a href="javascript:void(0)"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Dry Cleaning in Jumeirah Island</a></li>
  							<li><a href="javascript:void(0)"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Alteration in Barsha Heights</a></li>
  							<li><a href="javascript:void(0)"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Laundry in Dubai Sport City</a></li>
  							<li><a href="javascript:void(0)"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Free Pick up and Delivery in Palm Jumeirah</a></li>
                                  

                </ul>
            </div>
            <div class="col-lg-3 col-md-12">
              <h5 class="footer-title">Reach Us, We are Open</h5>
              <p>
                <b>Felix Laundry & Dry Cleaning</b> <br>
                Shop No 3, Concourse Level <br>
  							Armada Tower 3, Cluster P <br>
  							JLT - Jumeirah Lakes Tower <br>
  							Dubai, United Arab Emirates <br><br>

  							Toll Free: <span class="orange-text">8009274</span> <br>
  							Mobile: <span class="orange-text">0521357033 </span> <br>
  							Phone: <span class="orange-text">045571060 </span> <br>
  							Email: <span class="orange-text">info@Felix.ae </span> <br><br>

  							Sat to Thu: 9:30 AM - 10:30 PM <br>
  							Fri: 2:30 PM - 10:30 PM<br><br>
              </p>
              <div class="top-social">
  							<a href="https://www.facebook.com/ZaiynaLaundry/" title="" target="_blank"><span class="fa fa-facebook"></span></a>
  							<a href="https://plus.google.com/+ZaiynaAe800WASH" target="_blank" title=""><span class="fa fa-google-plus"></span></a>
  							<a href="https://twitter.com/Laundry_JLT" target="_blank" title=""><span class="fa fa-twitter"></span></a>
  						</div>
            </div>
          </div>
                                                     
        </div>
      </div>
      <div class="footer-bottom">
        <div class="container">
            <div class="copyright">
            	<p> © 2015 Felix - Laundry & Dry Cleaning Services. Website Developed, Maintained & Hosted by <a href="http://rightsolutions.io" target="_blank">Right Solutions</a></p>
            </div>
        </div>
      </div>
  </footer>


