



    <div class="loading-box text-center">
      <div class="loader loader-1 v-middle">
          <div class="loader-outter"></div>
          <div class="loader-inner"></div>
        </div>
    </div>
      <header id="header-section" class="header-section cd-auto-hide-header clearfix">
        <!-- header-middle - start -->
        <div class="header-middle">
          <div class="container">
            <div class="row">
              <!-- brand-logo-area - start -->
              <div class="col-lg-3 col-sm-3 col-xs-3">
                <div class="brand-logo-area">
                  <a href="index.html" class="brand-logo">
                <%= image_tag("11.svg", alt:"Zaiyna Logo") %>
                  </a>
                </div>
              </div>
              <!-- brand-logo-area - end -->
              <div class="col-lg-9 col-sm-9 col-xs-9">
                <!-- contact-info - start -->
                <div class="contact-info pull-right">
                  <ul class="">
                      <li><a href="mailto:info@zaiyna.ae"><span class="fa fa-envelope"></span>info@zaiyna.ae</a></li>
                        <li><a href="tel:8009274"><span class="fa fa-phone"></span>8009274  (Toll Free)</a></li>
                    </ul>
                </div>
                <!-- contact-info - end -->
              </div>

            </div>
          </div>
        </div>
        <!-- header-middle - end -->
        <!-- header-bottom - start -->
                      <%= render partial: 'layouts/default/navbar' %>
   <!-- header-bottom - end -->
      </header>
