  <head>
    
    <title>Felix Koders</title>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"> -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">

    <meta name="description" content="description">
    <meta name="keywords" content="keywords">
    <meta name="author" content="Zaiyna Laundry">
    <meta name="theme-color" content="#561b55">

    
    <meta name="google-site-verification" content="qWUdeISMlSHXimPCy8PORkw8lUbbMo83QQdItdcrgTs" />
    <meta name="msvalidate.01" content="B405DB4A4475ADC6631BA645E6DFACBF" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:200,300,400,400i,500,500i,700" rel="stylesheet">
    
<style>
.mySlides {display:none;}
</style>
                <%= render partial: 'layouts/default/styles' %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <!-- Global site tag (gtag.js) - Google Ads: 646352228 -->
    <!-- 
      Global site tag (gtag.js) - Google Analytics 
      The same site is hosted at zaiyna.ae and zaiyna.com
      hence there are 2 analytics codes
    -->
    
  </head>