<section>
    <div class="container-fluid">
      <div class="row">

        <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed/v1/place?q=zaiyna%20laundry%2C%20Armada%20Tower%203%2C%20Cluster%20P%2C%20Al%20Sarayat%20Street%20(North)%2C%20JLT%20-%20Jumeirah%20Lakes%20Towers%20-%20Dubai%20-%20United%20Arab%20Emirates&key=AIzaSyCXrCVI1CMxAZSoqqOw-Z-vR9tuKk9mCv8" height="350" style="border:0; width:100%;     padding:0px;margin-bottom: -6px;"></iframe>
      </div>
    </div>
  </section>
