
			<div class="container page-section">
		    <div class="row">
					<div class="col-sm-12 margin-bottom-30">
						<h2 class="box-header">Our <span>Price List</span></h2>
						<p class="description text-center">(in AED)</p>
					</div>
					<div class="col-sm-12">
		    		<div class="row">
							<div class="col-sm-4 col-md-4 services-location">
								<div class="price-table">
									<table class="table table-striped table-hover">
								    <thead>
								      <tr>
								        <th>Firstname</th>
								        <th>Lastname</th>
								        <th>Email</th>
								      </tr>
								    </thead>
								    <tbody>
								      <tr>
								        <td>John</td>
								        <td>Doe</td>
								        <td>example.com</td>
								      </tr>
								      <tr>
								        <td>Mary</td>
								        <td>Moe</td>
								        <td>example.com</td>
								      </tr>
								      <tr>
								        <td>July</td>
								        <td>Dooley</td>
								        <td>example.com</td>
								      </tr>
								    </tbody>
								  </table>
								</div>
								
							</div>
							<div class="col-sm-4 col-md-4 services-location">
								<div class="price-table">
								<table class="table table-striped table-hover">
								    <thead>
								      <tr>
								        <th>Firstname</th>
								        <th>Lastname</th>
								        <th>Email</th>
								      </tr>
								    </thead>
								    <tbody>
								      <tr>
								        <td>John</td>
								        <td>Doe</td>
								        <td>example.com</td>
								      </tr>
								      <tr>
								        <td>Mary</td>
								        <td>Moe</td>
								        <td>example.com</td>
								      </tr>
								      <tr>
								        <td>July</td>
								        <td>Dooley</td>
								        <td>example.com</td>
								      </tr>
								    </tbody>
								  </table>
								</div>
								
							</div>

							<div class="col-sm-4 col-md-4 services-location">
								<div class="price-table">
								<table class="table table-striped table-hover">
								    <thead>
								      <tr>
								        <th>Firstname</th>
								        <th>Lastname</th>
								        <th>Email</th>
								      </tr>
								    </thead>
								    <tbody>
								      <tr>
								        <td>John</td>
								        <td>Doe</td>
								        <td>example.com</td>
								      </tr>
								      <tr>
								        <td>Mary</td>
								        <td>Moe</td>
								        <td>example.com</td>
								      </tr>
								      <tr>
								        <td>July</td>
								        <td>Dooley</td>
								        <td>example.com</td>
								      </tr>
								    </tbody>
								  </table>
								</div>
								
							</div>
							

						</div>
					</div>

				</div>
			</div>

