.sidebar-area .title {
  font-size: 20px;
  color: #212121;
  font-weight: 700;
  text-transform: uppercase;
  display: block;
  margin-bottom: 25px;
}
.sidebar-area .search-box {
  margin-bottom: 45px;
}
.sidebar-area .search-box .form-control {
  border-radius: 0;
  box-shadow: none;
  color: #101010;
  padding: 5px 15px;
  height: 45px;
}
.sidebar-area .search-box .box-search {
  position: relative;
}
.sidebar-area .search-box .btn {
  position: absolute;
  right: 3px;
  background: transparent;
  border: none;
  box-shadow: none;
  top: 50%;
  outline: none;
  transform: translateY(-50%);
}
.sidebar-area .cate-box {
  margin-bottom: 45px;
}
.sidebar-area .cate-box ul {
  padding: 0;
  margin: 0;
}
.sidebar-area .cate-box ul li {
  list-style: none;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
  cursor: pointer;
}
.sidebar-area .cate-box ul li a {
  color: #505050;
  padding: 0 0 0 5px;
}
.sidebar-area .cate-box ul li a span {
  float: right;
}
.sidebar-area .cate-box ul li:first-child {
  padding-top: 0;
}
.sidebar-area .cate-box ul li:hover i,
.sidebar-area .cate-box ul li:hover a {
  color: #50154d;
}
.sidebar-area .latest-post {
  margin-bottom: 45px;
}
.sidebar-area .latest-post .post-item {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.sidebar-area .latest-post .post-item .post-img {
  width: 33.33%;
  transition: all 0.3s ease 0s;
}
.sidebar-area .latest-post .post-item .post-desc {
  width: 66.66%;
  padding-left: 20px;
}
.sidebar-area .latest-post .post-item .post-desc h4 {
  margin-bottom: 5px;
}
.sidebar-area .latest-post .post-item .post-desc h4 a {
  font-size: 16px;
  color: #212121;
}
.sidebar-area .latest-post .post-item .post-desc h4 a:hover {
  color: #50154d;
}
.sidebar-area .latest-post .post-item .post-desc .duration {
  font-weight: 600;
  color: #777777;
}
.sidebar-area .latest-post .post-item .post-desc .price {
  margin-left: 8px;
  font-weight: 600;
  color: #777777;
}
.sidebar-area .latest-post .post-item .post-desc .price span {
  color: #50154d;
}
.sidebar-area .latest-post .post-item + .post-item {
  padding-top: 10px;
  margin-top: 10px;
  border-top: 1px solid #ddd;
}
.sidebar-area .latest-post .post-item:hover .post-img {
  opacity: 0.7;
}
.sidebar-area .tags-cloud {
  margin-bottom: 39px;
}
.sidebar-area .tags-cloud ul {
  padding: 0;
  margin: 0;
}
.sidebar-area .tags-cloud ul li {
  float: left;
  list-style: none;
}
.sidebar-area .tags-cloud ul li a {
  border: 1px solid #d7d7d7;
  padding: 5px 13px;
  margin: 0 6px 6px 0;
  display: block;
  color: #505050;
  font-weight: 600;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 28px;
}
.sidebar-area .tags-cloud ul li a:hover {
  background-color: #50154d;
  border-color: #50154d;
  color: #ffffff;
}
.sidebar-area .newsletter {
  background: #f0f0f0;
  text-align: center;
  padding: 30px 40px;
}
.sidebar-area .newsletter h4 {
  font-size: 20px;
  color: #212121;
  font-weight: 700;
  text-transform: uppercase;
  display: block;
  margin: 0;
}
.sidebar-area .newsletter p {
  font-size: 15px;
  color: #505050;
  margin: 7px 0 20px;
}
.sidebar-area .newsletter .box-newsletter {
  position: relative;
}
.sidebar-area .newsletter .box-newsletter .form-control {
  border-radius: 0;
  box-shadow: none;
  color: #212121;
  padding: 5px 20px;
  height: 50px;
  border-color: #50154d;
}
.sidebar-area .newsletter .box-newsletter .btn {
  position: absolute;
  right: 3px;
  background: #50154d;
  border: none;
  top: 50%;
  transform: translateY(-50%);
  color: #ffffff;
  display: block;
  padding: 11px 17px;
  border-radius: 0;
  text-align: center;
}
.sidebar-area .newsletter .box-newsletter .btn:hover {
  background: #50154d;
}