   <div class="about-section sec-spacer">
          <div class="container">
              <div class="row">
                  <div class="col-sm-12 col-md-6">
  <%= image_tag("123.jpg", :class => "img-responsive full-width")%>
                      <!-- <img src="assets/images/2.jpg" alt="img"  class="img-responsive full-width margin-top-20"> -->
                  </div>
                  <!-- <div class="col-sm-6 col-md-3 padding-left-0">
                    <img src="assets/images/3.jpg" alt="img"  class="img-responsive full-width">
                  </div> -->
                  <div class="col-lg-6 col-md-12 mobile-mb-50 padding-top-43">
                    <h2 class="box-header">Best Laundry in <span>Dubai</span></h2>
                    <div class="about-desc">
                    <p class="paragraph text-left margin-top-30" >Founded with a vision to be the Signature Laundry Services brand in the region, we strive to present our customers with most Outstanding form of satisfaction when it comes to our services from dry cleaning to steam pressing.</p>

                    <p class="paragraph text-left margin-top-30">We ensure the promptness and punctuality of our pickup and delivery service. While focusing on Quality, Customer Satisfaction and Innovation, we also guarantee the Best Price in town. Our laundry service will save you time and money</p>
                    </div>
                  </div>
                  
              </div>
          </div>
      </div>




