   <div class="about-section sec-spacer">
          <div class="container">
              <div class="row">
                  <div class="col-lg-8 col-md-8 mobile-mb-50">
                    <h2 class="box-header">More than just a <span>Laundry</span></h2>
                    <div class="about-desc">
                      <p class="paragraph text-left margin-top-30" >Felix Laundry & Dry Cleaning apart from the competition is our commitment to providing professional, friendly, prompt, and, most importantly, convenient services. We use state-of-the-art processes and machines for the washing & cleaning and we use all our expertise to keep your fabric always in pristine condition.</p>

                      <p class="paragraph text-left margin-top-30">We also implement environmentally sound practices and always aims to deliver on all of our promises, without compromising the quality our clients demand.</p>
                    </div>
                    <h2 class="box-header">Commitment to <span>Quality</span></h2>
                    <div class="about-desc">
                    <p class="paragraph text-left margin-top-30" >During the washing & cleaning process each garment is checked for foreign objects. Items such as plastic pens will dissolve in the solvent bath and may damage textiles beyond recovery. Some textile dyes are ‘loose’(red being the main culprit), and will shed dye during solvent immersion. These will not be included in a load along with lighter-color textiles to avoid color transfer. The solvent used must be distilled to remove impurities that may transfer to the clothing.</p>

                    <p class="paragraph text-left margin-top-30">Garments are checked for dry cleaning compatibility, including fasteners. Zaiyna Laundry & Dry Cleaning offer a thoroughly satisfying garment cleaning process and provides free pickup and free delivery with in the Jumeirah Lake Towers (JLT), Jebel Ali Village, Dubai Investment Park, Discovery Gardens, The Gardens, Jumeirah Village Circle(JVC), Dubai Marina, Jumeirah Beach Residance, Jumeirah Village Triangle (JVT), Jumeirah Park, Jumeirah Island, Barsha Heights, Dubai Sport City</p>
                    </div>

                    <h2 class="box-header margin-top-30">Our Promise to <span>You</span></h2>
                    <div class="about-desc">
                    <p class="paragraph text-left margin-top-30" >We promise to always provide value and outstanding service. You will love the results that we can get with our combination of latest technology, special chemicals and experienced professionals.</p>

                    </div>

                    <h2 class="box-header  margin-top-30">Our <span>Mission</span></h2>
                    <div class="about-desc">
                    <p class="paragraph text-left margin-top-30" >We want to be the leading laundry service provider in the region. We want to contribute to the society by saving water and energy at high levels. We have been striving to provide our clients the best quality service possible to gain their full satisfaction. And they have shown their appreciation by coming back to us repeatedly.</p>

                    <p class="paragraph text-left margin-top-30" >We are saving water in large amounts with the help of latest technology. We want nothing more than to keep you healthy, happy and good looking, and longer life of your every cloth. Whether you own expensive branded, local, or specially designed clothes, we’re the person to take care of</p>

                    </div>


                  </div>

                  <div class="col-lg-4 col-md-4">
                    <iframe name="f29fc9cb1233e9" width="100%" height="1000px" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" title="fb:page Facebook Social Plugin" src="https://www.facebook.com/v2.7/plugins/page.php?adapt_container_width=true&amp;app_id=256463324736724&amp;channel=http%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter%2Fr%2FoVjM2wVZ10b.js%3Fversion%3D42%23cb%3Dfa5f8cb21e7044%26domain%3Dwww.zaiyna.ae%26origin%3Dhttp%253A%252F%252Fwww.zaiyna.ae%252Ff1736bc31dbbf38%26relation%3Dparent.parent&amp;height=1000&amp;hide_cover=true&amp;href=https%3A%2F%2Fwww.facebook.com%2FZaiynaLaundry%2F&amp;locale=en_US&amp;sdk=joey&amp;show_facepile=true&amp;small_header=true&amp;tabs=timeline" style="border:0; width:100%; height: 1000px;" class="pull-right"></iframe>
                  </div>
                  
              </div>
          </div>
      </div>

