 <div class="about-section sec-spacer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6">
<%= image_tag("123.jpg", :class => "img-responsive full-width")%>
                    <!-- <img src="assets/images/2.jpg" alt="img"  class="img-responsive full-width margin-top-20"> -->
                </div>
                <!-- <div class="col-sm-6 col-md-3 padding-left-0">
                  <img src="assets/images/3.jpg" alt="img"  class="img-responsive full-width">
                </div> -->
                <div class="col-lg-6 col-md-12 mobile-mb-50 padding-top-43">
                  <h2 class="box-header">Best Laundry in <span>Dubai</span></h2>
                  <div class="about-desc">
                  <p class="paragraph text-left margin-top-30" >Founded with a vision to be the Signature Laundry Services brand in the region, we strive to present our customers with most Outstanding form of satisfaction when it comes to our services from dry cleaning to steam pressing.</p>

                  <p class="paragraph text-left margin-top-30">We ensure the promptness and punctuality of our pickup and delivery service. While focusing on Quality, Customer Satisfaction and Innovation, we also guarantee the Best Price in town. Our laundry service will save you time and money</p>
                  </div>
                </div>
                
            </div>
        </div>
    </div>


    <div class="about-section sec-spacer">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8 mobile-mb-50">
                  <h2 class="box-header">More than just a <span>Laundry</span></h2>
                  <div class="about-desc">
                    <p class="paragraph text-left margin-top-30" >Zaiyna Laundry & Dry Cleaning apart from the competition is our commitment to providing professional, friendly, prompt, and, most importantly, convenient services. We use state-of-the-art processes and machines for the washing & cleaning and we use all our expertise to keep your fabric always in pristine condition.</p>

                    <p class="paragraph text-left margin-top-30">We also implement environmentally sound practices and always aims to deliver on all of our promises, without compromising the quality our clients demand.</p>
                  </div>
                  <h2 class="box-header">Commitment to <span>Quality</span></h2>
                  <div class="about-desc">
                  <p class="paragraph text-left margin-top-30" >During the washing & cleaning process each garment is checked for foreign objects. Items such as plastic pens will dissolve in the solvent bath and may damage textiles beyond recovery. Some textile dyes are ‘loose’(red being the main culprit), and will shed dye during solvent immersion. These will not be included in a load along with lighter-color textiles to avoid color transfer. The solvent used must be distilled to remove impurities that may transfer to the clothing.</p>

                  <p class="paragraph text-left margin-top-30">Garments are checked for dry cleaning compatibility, including fasteners. Zaiyna Laundry & Dry Cleaning offer a thoroughly satisfying garment cleaning process and provides free pickup and free delivery with in the Jumeirah Lake Towers (JLT), Jebel Ali Village, Dubai Investment Park, Discovery Gardens, The Gardens, Jumeirah Village Circle(JVC), Dubai Marina, Jumeirah Beach Residance, Jumeirah Village Triangle (JVT), Jumeirah Park, Jumeirah Island, Barsha Heights, Dubai Sport City</p>
                  </div>

                  <h2 class="box-header margin-top-30">Our Promise to <span>You</span></h2>
                  <div class="about-desc">
                  <p class="paragraph text-left margin-top-30" >We promise to always provide value and outstanding service. You will love the results that we can get with our combination of latest technology, special chemicals and experienced professionals.</p>

                  </div>

                  <h2 class="box-header  margin-top-30">Our <span>Mission</span></h2>
                  <div class="about-desc">
                  <p class="paragraph text-left margin-top-30" >We want to be the leading laundry service provider in the region. We want to contribute to the society by saving water and energy at high levels. We have been striving to provide our clients the best quality service possible to gain their full satisfaction. And they have shown their appreciation by coming back to us repeatedly.</p>

                  <p class="paragraph text-left margin-top-30" >We are saving water in large amounts with the help of latest technology. We want nothing more than to keep you healthy, happy and good looking, and longer life of your every cloth. Whether you own expensive branded, local, or specially designed clothes, we’re the person to take care of</p>

                  </div>


                </div>

                <div class="col-lg-4 col-md-4">
                  <iframe name="f29fc9cb1233e9" width="100%" height="1000px" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" title="fb:page Facebook Social Plugin" src="https://www.facebook.com/v2.7/plugins/page.php?adapt_container_width=true&amp;app_id=256463324736724&amp;channel=http%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter%2Fr%2FoVjM2wVZ10b.js%3Fversion%3D42%23cb%3Dfa5f8cb21e7044%26domain%3Dwww.zaiyna.ae%26origin%3Dhttp%253A%252F%252Fwww.zaiyna.ae%252Ff1736bc31dbbf38%26relation%3Dparent.parent&amp;height=1000&amp;hide_cover=true&amp;href=https%3A%2F%2Fwww.facebook.com%2FZaiynaLaundry%2F&amp;locale=en_US&amp;sdk=joey&amp;show_facepile=true&amp;small_header=true&amp;tabs=timeline" style="border:0; width:100%; height: 1000px;" class="pull-right"></iframe>
                </div>
                
            </div>
        </div>
    </div>


    <div class="booknow-page-section padding-top-60 padding-bottom-100">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <h2 class="box-header">Book <span>Online</span></h2>
              </div>
            </div>

            <div class="row margin-top-40">

              <div class="col-lg-12 col-md-12">
                <div class="contact-form">
                  
                  <form id="contactForm" method="POST" action="" class="contact-form">
                          <div class="col-md-6 col-sm-6 col-xs-12">
                              <input type="text" class="form-control" placeholder="Name" required="">
                          </div>
                          <div class="col-md-6 col-sm-6 col-xs-12">
                              <input type="email" class="email form-control" placeholder="Email" required="">
                          </div>
                          <div class="col-md-12 col-sm-12 col-xs-12">
                              <input type="text" class="form-control" placeholder="Phone / Mobile *" required="">
                          </div>

                          <div class="col-md-6 col-sm-6 col-xs-12">
                              <!-- <input type="text" class="form-control" placeholder="Area *" required=""> -->
                              <select class="form-control">
                                <option>Jumeirah Lake Towers (JLT)</option>
                                <option>Jebel Ali Village</option>
                                <option>Dubai Investment Park</option>
                                <option>Discovery Gardens</option>
                                <option>The Gardens</option>
                                <option>Jumeirah Village Circle(JVC)</option>
                                <option>Dubai Marina</option>
                                <option>Jumeirah Beach Residance,</option>
                                <option>Jumeirah Village Triangle (JVT)</option>
                                <option>Jumeirah Park</option>
                                <option>Jumeirah Island</option>
                                <option>Barsha Heights</option>
                                <option>Dubai Sport City</option>
                              </select>
                          </div>
                          <div class="col-md-6 col-sm-6 col-xs-12">
                              <input type="text" class="form-control" placeholder="Building Name *" required="">
                          </div>

                          <div class="col-md-6 col-sm-6 col-xs-12">
                              <input type="text" class="form-control" placeholder="Apartment Number *" required="">
                          </div>
                          <div class="col-md-6 col-sm-6 col-xs-12">
                              <input type="text" class="form-control" placeholder="Pickup Date *" required="">
                          </div>

                          <div class="col-md-6 col-sm-6 col-xs-12">
                              <input type="text" class="form-control" placeholder="Pickup Time">
                          </div>
                          <div class="col-md-6 col-sm-6 col-xs-12">
                              <input type="text" class="form-control" placeholder="Landmark">
                          </div>


                          <div class="col-md-12 col-sm-12 col-xs-12">
                              <textarea rows="7" placeholder="Special Notice" class="form-control"></textarea>
                          </div>
                          <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                              <button type="submit" id="submit" class="contact-btn">Submit</button>
                              <div class="clearfix"></div>
                          </div>   
                      </form>

                      
                </div>
              </div>
            </div>

          </div>
      </div>




